<div class="board">
  <div>
    <app-square class=".app-square"></app-square>
    <app-square class=".app-square"></app-square>
    <app-square class=".app-square"></app-square>
  </div>
  <div>
    <app-square class=".app-square"></app-square>
    <app-square class=".app-square"></app-square>
    <app-square class=".app-square"></app-square>
  </div>
  <div>
    <app-square class=".app-square"></app-square>
    <app-square class=".app-square"></app-square>
    <app-square class=".app-square"></app-square>
  </div>
</div>
